<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Adding New Games</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item color="dark ">
        <ion-label position="stacked">Game Title</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="dark ">
        <ion-label position="stacked">Game Genre</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="dark ">
        <ion-label position="stacked">Game Description</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" color="primary">Add New Game</ion-button>
  </div>
</ion-content>
